{% extends "base.html" %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Table of Workouts</h5>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Performed At</th>
          <th scope="col">Number of Push-ups</th>
          <th scope="col">Comment</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if workouts %} {% for workout in workouts.items %}
        <tr>
          <td scope="row">
            {{workout.date_posted.strftime('%H:%M:%S %d/%m/%Y ')}}
          </td>
          <td>{{workout.pushups}}</td>
          <td>{{workout.comment}}</td>
          <td>
            <a
              class="btn btn-primary me-1"
              role="button"
              href="{{ url_for('main.update_workout', workout_id=workout.id) }}"
              >Edit</a
            >
            <a
              class="btn btn-danger"
              role="button"
              href="{{ url_for('main.delete_workout', workout_id=workout.id) }}"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %} {% endif %}
      </tbody>
    </table>
    <nav>
      <ul class="pagination justify-content-center">
        {% if workouts.has_prev %}
        <li class="page-item">
          <a
            class="page-link"
            href="{{ url_for('main.all_workouts', page=workouts.prev_num) }}"
            >Previous</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        {% endif %} {% for p in range(1, workouts.pages + 1) %}
        <li class="page-item {% if p == workouts.page %}active{% endif %}">
          <a class="page-link" href="{{ url_for('main.all_workouts', page=p) }}"
            >{{ p }}</a
          >
        </li>
        {% endfor %} {% if workouts.has_next %}
        <li class="page-item">
          <a
            class="page-link"
            href="{{ url_for('main.all_workouts', page=workouts.next_num) }}"
            >Next</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
