{% extends "base.html" %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add New Workout</h5>
    <form action="/new_workout" method="post">
      <div class="mb-3">
        <label for="pushups" class="form-label">Push-ups</label>
        <input
          type="number"
          class="form-control"
          id="pushups"
          name="pushups"
          placeholder="Enter number of push-ups"
        />
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <input
          type="text"
          class="form-control"
          id="comment"
          name="comment"
          placeholder="Enter comment"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add Workout</button>
    </form>
  </div>
</div>
{% endblock %}
